# update my dynamic DNS provider every 10 minutes 
*/10 * * * * ~/duckdns/duck.sh >/dev/null 2>&1

# update my youtube adblock list every 10 minutes
*/10 * * * * cd ~/youtube-updater-for-pi-hole && sudo ./youtube.update.sh >/dev/null 2>&1 

# adding >/dev/null 2>&1 so as to not log the output of the scripts