# update my dynamic DNS provider every 5 minutes 
*/5 * * * * ~/duckdns/duck.sh >/dev/null 2>&1

# update my youtube adblock list every 5 minutes
*/5 * * * * ./usr/local/bin/youtube.update.sh

# clear cache every 5 minutes
*/5 * * * * sudo sh -c "echo 1 > /proc/sys/vm/drop_caches"